* {
    scroll-behavior: smooth;
}

#titulo{
    color: white;
    font-size: 70pt;
}

#subtitulo{
    color: white;
    font-size: 30pt;
}

h4{
    color: white;
    font-size: 30pt;
}

#empresa{
    color: white;
    font-size: 50px;
}

pre{
    color: white;
    font-size: 25px;
}

body{
   background-image: url(../img/star.jpeg);
   background-repeat: no-repeat;
   background-size: 100%;
   background-color: rgb(43, 43, 43);
}



.carousel-container {
  width: 500px; /* Largura do carrossel */
  margin: auto;
  overflow: hidden;
  position: relative;
  border: 5px solid orange;
}

.carousel-slide {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out; /* Suaviza o movimento */
}

.carousel-slide img {
  width: 500px; /* Deve ser a mesma largura do container */
  height: auto;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#btn-voltar { left: 5px; }
#btn-proximo { right: 5px;}
